<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台-商品管理-编辑商品</title>
    {{include "./common/link.html"}}
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!-- header -->
        {{include "./common/header.html"}}

        <!-- side -->
        {{include "./common/side.html"}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <h2>编辑商品</h2>
                <form class="layui-form" lay-filter="oneCate">
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品标题</label>
                        <div class="layui-input-inline">
                            <input type="text" name="goods_title" required lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">详情图</label>
                        <button type="button" class="layui-btn" id="upload_dp">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">预览</label>
                        <input type="hidden" name="detailspic" value="">
                        <img src="" alt="暂无图片" class="preview preview_img">
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">价格</label>
                        <div class="layui-input-inline">
                            <input type="number" name="price" required lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属分类</label>
                        <div class="layui-input-inline">
                            <select name="category" lay-verify="required">
                            </select>
                        </div>
                    </div>
                    <!-- <div class="layui-form-item">
                        <label class="layui-form-label">是否上架</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="0" title="上架" checked>
                            <input type="radio" name="status" value="1" title="下架">
                        </div>
                    </div> -->
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">详情描述</label>
                        <div class="layui-input-block">
                            <div id="depict"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">编辑</button>
                            <button type="reset" class="layui-btn layui-btn-primary reset-btn">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- footer -->
        {{include "./common/footer.html"}}
    </div>

    {{include "./common/script.html"}}
    <script src="/public/js/wangEditor.js"></script>
    <script>
        const E = window.wangEditor;
        const editor = new E('#depict');
        editor.config.uploadImgShowBase64 = true;
        editor.create();

        let reg = /goods_id=(.*)&status=(.*)&?/;
        console.log(...reg.exec(location.href));
        let [, goods_id, status] = [...reg.exec(location.href)];

        // 导航依赖 element 模块，表单依赖 form 模块，表格依赖 table 模块
        layui.use(['element', 'form', 'layer', 'upload'], function () {
            let form = layui.form;
            let upload = layui.upload;

            upload.render({
                elem: '#upload_dp' //绑定元素
                , url: '/upload' //上传接口
                , done: function ({ message, src }) {
                    //上传完毕回调
                    if (!src) return layer.msg(message);
                    $('.preview').attr('src', src);
                    $('input[name="detailspic"]').val(src);
                }
            });

            // 初始化分类选项并回显数据
            initData();

            form.on('submit(formDemo)', function ({ elem, field }) {
                if(!editor.txt.html()) {
                    layer.msg('请输入详情描述');
                    return false;
                }
                let oldHtml = $(elem).html();
                $(elem).addClass('layui-btn-disabled').html('编辑中...');
                field.depict = editor.txt.html();
                $.ajax({
                    type: 'post',
                    url: '/edit_goods',
                    data: { ...field, goods_id, status }
                }).then(res => {
                    $(elem).removeClass('layui-btn-disabled').html(oldHtml);
                    layer.msg(res.message);
                    if (!res.code) location.href = '/goods';
                });
                return false;
            });

            function initData(data) {
                $.ajax({
                    url: '/getCate',
                }).then(({ data, message }) => {
                    if (message) return layer.msg(message);
                    let cateHtml = '<option value=""></option>';
                    data.forEach(v => {
                        cateHtml += `<option value="${v.cate_id}">${v.cate_name}</option>`;
                    });
                    $("select[name='category']").html(cateHtml);
                    data_back();
                });
            }

            function data_back() {
                $.ajax({
                    url: '/getOneGoods?goods_id=' + goods_id
                }).then(res => {
                    if (res.code) return layer.msg(res.message);
                    let { goods_title, detailspic, price, depict, category } = res;
                    price = price.toFixed(2);
                    $('input[name="detailspic"]').val(detailspic);
                    $('.preview').attr('src', detailspic);
                    editor.txt.html(depict);
                    // oneCate 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                    form.val("oneCate", {
                        goods_title,
                        price,
                        category
                    });
                });
            }
        });
    </script>
</body>

</html>