<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台-商品管理-所有商品</title>
    {{include "./common/link.html"}}
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!-- header -->
        {{include "./common/header.html"}}

        <!-- side -->
        {{include "./common/side.html"}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <h2 style="overflow: hidden;">
                    <span>所有商品</span>
                    <a class="layui-btn add-btn" title="添加商品" href="/goods_add">
                        <i class="layui-icon">&#xe608;</i> 添加
                    </a>
                </h2>
                <table class="layui-hide" id="test" lay-filter="test"></table>
            </div>
        </div>

        <!-- footer -->
        {{include "./common/footer.html"}}
    </div>

    {{include "./common/script.html"}}
    <script type="text/html" id="barDemo">
        <div class="layui-btn-group">
            <a class="layui-btn layui-btn-x" lay-event="edit" title='编辑'><i class="layui-icon">&#xe642;</i></a>
            <a class="layui-btn layui-btn-danger layui-btn-x" lay-event="del" title='删除'><i class="layui-icon">&#xe640;</i></a>
        </div>
    </script>

    <script>
        // 导航依赖 element 模块，表单依赖 form 模块，表格依赖 table 模块
        layui.use(['element', 'layer', 'table'], function() {
            let table = layui.table;
            // 初始化商品
            let tableInit = table.render({
                elem: '#test',
                url: '/getGoods',
                toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
                title: '商品数据表',
                cols: [
                    [{
                        field: 'goods_name',
                        title: '商品名称',
                        width: 120,
                    }, {
                        field: 'price',
                        title: '价格',
                        width: 80,
                        minWidth: 86,
                        sort: true,
                        templet: function(res) {
                            return res.price.toFixed(2);
                        }
                    }, {
                        field: 'depict',
                        title: '商品描述',
                    }, {
                        field: 'category',
                        title: '所属分类',
                        width: 100,
                        templet: function(res) {
                            let cateMaps = {
                                1: "水果",
                                2: "零食",
                                3: "服饰",
                                4: "粮油",
                                5: "饮料",
                                6: "生活"
                            };
                            return cateMaps[res.category];
                        }
                    }, {
                        field: 'isShelf',
                        title: '状态',
                        width: 100,
                        minWidth: 76,
                        sort: true,
                        templet: function(res) {
                            return res.isShelf ? '已上架' : '已下架';
                        }
                    }, {
                        field: 'added_time',
                        title: '添加时间',
                        width: 170,
                        sort: true,
                        templet: function(res) {
                            return util.data_format(res.added_time);
                        }
                    }, {
                        fixed: 'right',
                        title: '操作',
                        toolbar: '#barDemo',
                        width: 130,
                        minWidth: 130
                    }]
                ],
                page: true
            });

            //监听行工具事件
            table.on('tool(test)', function(obj) {
                let goods_id = obj.data.goods_id;
                switch (obj.event) {
                    case 'del':
                        del(goods_id);
                        tableInit.reload();
                        break;
                    case 'edit':
                        edit(goods_id);
                        break;
                }
            });

            function del(goods_id) {
                layer.confirm('确定要删除该商品吗？', {
                    btn: ['删除', '取消']
                }, () => {
                    $.ajax({
                        type: 'post',
                        url: '/delGoods',
                        data: {
                            goods_id
                        }
                    }).then(res => {
                        layer.closeAll();
                        layer.msg(res.message);
                        if (!res.code) tableInit.reload();
                    });
                });
            }

            function edit(goods_id) {
                location.href = `/goods_edit?goods_id=${goods_id}`;
            }
        });
    </script>
</body>

</html>