<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台-控制台</title>
    {{include "./common/link.html"}}
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!-- header -->
        {{include "./common/header.html"}}

        <!-- side -->
        {{include "./common/side.html"}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div id="goodsChart" style="width: 600px;height:400px;"></div>
            </div>
        </div>

        <!-- footer -->
        {{include "./common/footer.html"}}
    </div>

    {{include "./common/script.html"}}
</body>

</html>